.relative {
    position: relative;
    width: 200px;
    height: 100px;
    background: lightblue;
    border: 2px solid blue;
    margin: 20px;
    left: 50px;
    top: 10px;
}

.absolute {
    position: absolute;
    width: 200px;
    height: 100px;
    background: lightcoral;
    border: 2px solid red;
    top: 100px;
    left: 300px;
}

.fixed {
    position: fixed;
    width: 200px;
    height: 100px;
    background: lightgreen;
    border: 2px solid green;
    bottom: 20px;
    right: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background: yellow;
    border: 2px solid orange;
    padding: 10px;
}


.container1 {
    margin-top: 30px;
    width: 100px
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.float-left {
    width: 200px;
    height: 100px;
    background: pink;
    border: 2px solid purple;
    float: left;
    margin-right: 20px;
}

.float-right {
    width: 200px;
    height: 100px;
    background: lightgray;
    border: 2px solid black;
    float: right;
    margin-left: 20px;
}

.clear {
    width: 100px;
    clear: center;
    background: lightyellow;
    border: 2px solid brown;
    padding: 10px;
    margin-top: 20px;
}


.z-index-container {
    position: relative;
    height: 200px;
    margin-top: 30px;
}

.box {
    width: 150px;
    height: 150px;
    position: absolute;
}

.box1 {
    background: cyan;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.box2 {
    background: magenta;
    left: 80px;
    top: 80px;
    z-index: 3;
}

.box3 {
    background: yellow;
    left: 110px;
    top: 110px;
    z-index: 2;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.paragraph {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.para1 {
    margin-left: 60px;
    background-color: #ffcccc;
    color: #990000;
    border: 3px solid #990000;
    text-indent: 20px;
}

.para2 {
    margin-left: 120px;
    background-color: #ccffcc;
    color: #006600;
    border: 3px dashed #006600;
    text-indent: 30px;
}

.para3 {
    margin-left: 180px;
    background-color: #ccccff;
    color: #000099;
    border: 3px dotted #000099;
    text-indent: 40px;
}


.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 90%; 
    margin: 0 auto; 

}
.column {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
    min-width: 300px; 
}

h4 {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    background: lightgray;
    border: 1px solid black;
}

.marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: blue;
    margin-right: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h2 {
    text-align: center;
}
