body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: inline-block;
    box-shadow: 2px 2px 5px gray;
    margin: 20px;
}

.left-block {
    display: inline-block;
    width: 50px;
    height: 350px;
    background-color: blue;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.right-block {
    display: inline-block;
    width: 50px;
    height: 350px;
    background-color: blue;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.main-block {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: #fff;
    vertical-align: top;
}

.top-block, .bottom-block {
    background-color: gold;
    color: white;
    text-align: center;
    padding: 10px;
}

.bottom-block {
    transform: rotate(5deg); /* обертання */
}

.middle-block {
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
    background-color: white;
    font-size: 14px;
}

.parent{
    width:100%;
    height: 40px;
    background-color:red;
  }
