body {
    font-family: sans-serif;
    margin: 20px;
    line-height: 1.5;
}

.task {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}

.result {
    margin-top: 5px;
    color: blue;
    font-weight: bold;
}